# ==============================
# Python Cache and Bytecode
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual Environments & IDEs
# ==============================
venv/
.venv/
env/
.idea/
.vscode/

# ==============================
# System & Personal Configs
# ==============================
.bash_profile
.bashrc
.gitconfig
.profile
.ripgreprc
.zprofile
.zshrc
.mcp.json

# ==============================
# Django Specific
# ==============================
*.log
local_settings.py
db.sqlite3

# ==============================
# Models & Large Datasets
# ==============================
models/autoencoder_100.pkl
models/autoencoder_200.pkl
models/autoencoder_300.zip
models/FastSAM-s.pt

# ==============================
# Media and Uploads
# ==============================
media/extracted_bands/
media/marked_images/
media/clusters/
media/uploads/
