# Python bytecode
**/__pycache__/
*.py[cod]
*$py.class
__pycache__/
*.pyc

os
sys
# Django specific (if you are using Django)
*.log
local_settings.py
db.sqlite3


# rtlc app files
models
rtlc/__pycache__
rtlc/utils/__pycache__
