# Python bytecode
**/__pycache__/
*.py[cod]
*$py.class
__pycache__/
*.pyc

os
sys
# Django specific (if you are using Django)
*.log
local_settings.py
db.sqlite3


# rtlc app files
models/autoencoder_100.pkl
models/autoencoder_200.pkl
models/autoencoder_300.zip
models/FastSAM-s.pt
rtlc/__pycache__
rtlc/utils/__pycache__
