Django
djangorestframework
gunicorn
dtaidistance
dtw
joblib
scipy
pybaselines
matplotlib
numpy 
pandas 
seaborn  
scikit-learn
imageio
scipy
torch<2.6
torchvision<0.21
ultralytics==8.2.40
opencv-python
Pillow
plotly
